/* Banner Product View */

.link_to_banner {
  position: absolute;
  margin-top: .3em;
  width: 100%;
}

.hide_info {
  display: none;
}

.active {
  .hide_info {
    display: inline-block;
  }
  .show_info {
    display: none;
  }
}

.banner_preview .grid_framed:not(.active) {
  opacity: .2;
}

.banner {
  width: 100%;
  margin-bottom: 3%;
  position: relative;
}
.banner.active {
  float: left;
  margin-bottom: 0;
}

.grid_framed.active {margin-bottom: 3%;}

.banner_tint {
  background: rgba(0, 0, 0, 0);
  top: 0;
  padding: 2.5em 2em 2em 2em;
}

.banner_tint.dark {  background: rgba(0, 0, 0, .4);
}

.banner_content_width {
  width:33%;
  display: inline-block;
}


.banner_left {
  text-align: left;

  .banner_content_width {
    text-align: left;
  }
}

.banner_right {
  text-align: right;
  
  .banner_content_width {
    text-align: right;
  }
}

.banner_center {
  text-align: center;
  margin: 5em 0;

    .banner_content_width {
    text-align: center;
    width:66%;
  }
  .banner_writeup {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}


.banner_title {
  @extend .headline;
  font-size: 2.4em;
  display: inline-block;
  line-height: .9;
}

.banner {
  .product_meta_info {
    font-size: .3em;
    line-height: .9;
    margin-top: 0.35em;
  }

  .price_separator {
    margin: 0 .9em;
    font-size: .55em;
    vertical-align: 2px;
  }

  .action {
    color: white;
    border-color: white;
  }

  .action + .action {
    margin-left: .8em;
  }
}
 
.banner_writeup {
  font-size: 1.1em;
  margin-top: 12em;
  margin-bottom:2em;
}

.link_through {
  font-style: italic;
}

.grid_framed .link_back {
  position:absolute;
  text-align: center;
  width: 100%;
  margin-top: .35em;

  .arrow {
    width:1.8em;
  }
}