/* Cart */

.cart_indicator {
  .control {
    @extend .headline;
    font-size: .8em;
  }

}

.cart_wrap {
    margin-top: 5em;
    margin-bottom: 6em;
    width: 63%;

  .main_cart_summary {
    @extend .collection_description;
    width: 80%;
    font-size: 1.1em;
    margin: 0 auto;
    margin-top: 6em;
    text-align: center;
  }

  .grid_title {
    position:relative;
    color:black;
    text-align: left;
    float: left;
  }
}

.main_cart_header {
  text-align: center;
}

.major_cart_action {

  .main_cart_total {
    margin-top: .5em;
    margin-bottom: .25em;
  }

  .main_cart_total.subheading {
    @extend .headline;
  }

  .control_button {
    margin-top: .5em;
  }
}

.cart_content_section {
  .divider_container {
    width: 100%;
  }
}

.main_cart_total {
  font-size: .8em;
  margin-bottom: 2.45em;
  font-weight: 600;
  text-transform: uppercase;

  .price_separator {
    vertical-align: 2px;
  }
}

.main_cart_header + .cart_content {
  margin-top: 9em;
}

.winery_name_container + .winery_product {
}

.winery_product_group {
  padding: 1.25em 4.5em;
  margin: 0 -4.5em;
  border: 3px solid lightgray;
  border-left: none;
  border-right: none;

  .divider_container {
    width: 100%;
    margin:0;
  }

  .overlay_label {color:lightgray;}
}

.winery_product {
  margin:4em 0;
  position: relative;

  .modal_action_section {
    width: 15em;
    float: right;
    margin: 0;

    .individual_action {margin:0;}
  }

  .cart_item_info {
    float:right;
    text-align: right;

    .modal_action_section {
      width: 100%;
      margin-bottom: .5em;
      float: none;
      font-size: .9em;

      .individual_action {
        width:12em;
        float: right;
      }

    }

    .quantity {
      width: 100%;
    }

    .add, .subtract {
      top: 0;
      background: transparent;
      padding: 0 .5em;
    }
  }

  .grid_img_container {
    width: 4.8em;
    float: left;
    margin-right: 1em;
  }
}

.winery_product + .winery_product {
 /* border-top: 1px solid lightgray;*/
}

.winery_name_container + .winery_product_group {margin-top:5em;}

.cart_winery_group {
    margin: 8em 0;


  .winery_name_container {
    text-align: center;
  }
  .main_cart_summary {
    margin: 3em auto;
  }
}

.winery_cart_total {
  text-align: center;
  margin-top: 3.5em;

  .major_title {
    font-size: 1.9em;
  }
  .major_cart_action {
    position: relative;
    text-align: center;
  }
}

.winery_cart {
  text-align: center;
}
.cart_overview_title {
  @extend .headline;
  font-size: 1.6em;
}

.product_summary_content {
  text-align: center;
}

.overview  {

  .main_cart_total {
    margin-top: 0;
  }

  .controls {
  margin-top: 3em;
  }
}
