.headline, .backend_section .individual_section_content .section_number, .table_label, .position_number_container, .column.titles, label, .form_help {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.backend_wrap, .regular_wrap {
  margin-right: auto;
  margin-left: auto;
}

.regular_wrap {
  margin-top: 5em;
  margin-bottom: 6em;
}

.backend_wrap {
  width: 1000px;
  margin: 1.5em auto 9em;
  background: transparent;
}
.backend_wrap .collection_description {
  margin-top: 0;
}
.backend_wrap .major_section_header {
  margin: 7em auto;
}
.backend_wrap .major_section_header.form_header {
  margin: 9em auto 7em;
}
.backend_wrap .control_button {
  white-space: nowrap;
}

.backend_user_controls {
  font-size: .9em;
}

.mainheader {
  text-align: center;
}
.mainheader .winery_title {
  font-size: 1.4em;
  border: none;
  border: 3px solid black;
  /*border-bottom: 3px solid red;
  padding-left:0;
  padding-right:0;*/
}
.mainheader .secondary_menu .overlay_label {
  font-size: .75em;
}
.mainheader .divider_container {
  margin: .75em auto .75em;
}
.mainheader .primary_menu {
  margin-bottom: 0em;
  width: 95%;
  margin-top: 2.5em;
}
.mainheader .primary_menu .overlay_label {
  font-size: .95em;
}
.mainheader .secondary_menu {
  margin-top: .4em;
}
.mainheader .view_label {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  font-style: normal;
  margin-top: .5em;
}

.collection_description + .search {
  margin-top: 4em;
}

.mainheader + .backend_section {
  margin-top: 7em;
}

.main_nav_link {
  margin: 0 1.5em;
  color: lightgray;
  white-space: nowrap;
}

.main_nav_link.active {
  color: black;
}

nav .price_separator {
  vertical-align: 2px;
  color: lightgrey;
}

.backend_section .divider_container {
  margin: 9em auto;
}
.backend_section .individual_section_content {
  padding: 3.5em 1em;
  background: #f2f2f2;
  border: 1px solid lightgray;
}
.backend_section .individual_section_content .major_section_header {
  margin: 0em auto;
}
.backend_section .individual_section_content .major_title {
  margin-bottom: 1em;
  font-size: 2em;
}
.backend_section .individual_section_content .section_number {
  float: left;
  border: none;
}
.backend_section .individual_section_content .cart_controls {
  text-align: center;
  margin-top: 2em;
}
.backend_section .individual_section_content .control_button + .control_button {
  margin-right: .5em;
}
.backend_section .individual_section_subrow + .individual_section_subrow {
  margin-top: 1em;
  font-size: .75em;
}
.backend_section .major_section_header {
  margin: 0em auto 6em;
}

.major_cart_controls {
  text-align: center;
  margin-top: 6em;
  font-size: 1.3em;
}
.major_cart_controls .control_button {
  border: 2px solid black;
}

.individual_section_content + .individual_section_content {
  margin-top: 1.25em;
}

.table_label_container {
  padding-bottom: .3em;
  border-bottom: 2px solid lightgray;
  margin-bottom: 1em;
  font-size: .8em;
}

.table_label {
  float: left;
  margin-top: .3em;
  margin-bottom: .3em;
}

.drag_drop .position_wine_items .table_label {
  /*text-align:left;*/
  white-space: nowrap;
}

.table_label.name {
  width: 240px;
  text-align: left;
}

.table_label.order_number {
  width: 100%;
}

.table.combined_name {
  width: 40em;
  float: left;
  text-align: center;
}

.table_label.order_name {
  text-align: left;
  width: 400px;
}

.table_label.year {
  width: 100px;
}

.table_label.order_position {
  width: 110px;
  text-align: left;
}

.table_label.order_id {
  width: 200px;
}

.table_label.price {
  width: 100px;
  text-align: center;
}

.table_label.secondary {
  width: 150px;
  text-align: center;
}

.table_label.edit {
  width: 100px;
  text-align: right;
  float: right;
}

.table_label.category_name {
  width: 600px;
}

.individual_section_content.stock_item {
  padding: 1.7em 2em;
  font-size: .9em;
  margin: 0 -2em;
}
.individual_section_content.stock_item .control_button {
  float: right;
  font-size: .75em;
}

.individual_user_permissions {
  text-align: center;
  display: inline-block;
}
.individual_user_permissions .table_label {
  width: 240px;
}
.individual_user_permissions .table_label .label {
  margin-bottom: 1em;
}

.individual_section_content.stock_item + .individual_section_content.stock_item {
  margin-top: .75em;
}

.drag_drop {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.position_number_container {
  display: inline-block;
  width: 1.5em;
  text-align: center;
  margin-right: 3.7em;
  vertical-align: top;
}
.position_number_container .position_numbers_list {
  margin: 0;
}
.position_number_container li {
  padding: 1.8em 0;
  font-size: .9em;
}
.position_number_container li + li {
  margin-top: .5em;
}

.position_wine_items {
  /*width: 35em;
  display: inline-block;*/
}

.custom_additions_group {
  margin: 2em auto 0;
  padding-top: 2em;
  border-top: 1px solid lightgray;
}
.custom_additions_group .individual_section_content {
  margin: 0;
}

.secondary_divider.backend .divider_container {
  margin: .7em auto;
  width: 30%;
}
.secondary_divider.backend .label_holder {
  font-size: .7em;
}

.secondary_divider.backend.side_by_side {
  display: inline-block;
  width: 15%;
}
.secondary_divider.backend.side_by_side .divider_container {
  width: 60%;
}

.control_button.cancel {
  font-size: .6em;
  border: none;
  color: red;
}

.column {
  width: 50%;
  float: left;
  padding: 0 2em;
}
.column li + li {
  margin-top: 2em;
}
.column ul {
  margin: 0;
}

.column.titles {
  text-align: right;
}

.column.information {
  text-align: left;
  border-left: 2px solid lightgray;
  font-size: 1.1em;
  line-height: 1.1;
}

.transition, input, input:focus, input:hover, input:active {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.general_form {
  text-align: center;
  margin-bottom: 4em;
}
.general_form input {
  text-align: center;
  width: 100%;
}
.general_form input[type=checkbox], .general_form input[type=radio] {
  width: inherit;
}
.general_form .secondary_divider {
  width: 3em auto;
}
.general_form .secondary_divider .overlay_label {
  color: dimgray;
}

.secondary_divider .overlay_label {
  color: dimgray;
  white-space: nowrap;
}

input, textarea {
  border: none;
  background: #e6e6e6;
  padding: .8em 1.2em;
  font-family: "minion-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  border: 1px solid lightgray;
  outline-style: none;
  -webkit-transition: all 0.5s ease-out;
  border-radius: 1px;
}

textarea {
  padding: 3em;
  text-align: center;
  width: 100%;
  height: 220px;
}

fieldset {
  margin-left: auto;
  margin-right: auto;
}

.small {
  width: 23em;
}

.medium {
  width: 47em;
}

.large {
  width: 100%;
}

input:hover, textarea:hover {
  background: #f2f2f2;
}

input:active, input:focus, textarea:active, textarea:focus {
  background: #fcfcfc;
}

label {
  width: 100%;
  display: block;
  font-size: .7em;
  margin-bottom: .5em;
}

fieldset + fieldset {
  margin-top: 4em;
}

.textfield + .textfield {
  margin-top: 7em;
}

.form_help {
  font-size: .7em;
  color: dimgray;
  margin-top: .5em;
}

.search, .custom_add {
  margin-left: auto;
  margin-right: auto;
}
.search .search_field, .search .custom_add_field, .custom_add .search_field, .custom_add .custom_add_field {
  width: 86.5%;
  text-align: left;
  margin-right: .25%;
}
.search .search_button, .search .custom_add_button, .custom_add .search_button, .custom_add .custom_add_button {
  width: 13%;
}

.field_two {
  margin-left: auto;
  margin-right: auto;
}
.field_two fieldset {
  width: 49%;
  float: left;
  margin-top: 0;
}
.field_two :first-child {
  margin-right: 2%;
}

.shipping_payee {
  margin: 0 auto;
  text-align: center;
}
.shipping_payee input[type=text] {
  width: 7em;
  text-align: center;
  padding: .25em;
  font-size: 1.65em;
  margin-top: .35em;
  font-size: 1.5em;
}

input[type=radio], input[type=checkbox] {
  margin-bottom: .5em;
}

input[type=checkbox] {
  width: .8em;
}

input[type=number] {
  padding-left: 2.2em;
}

.radio_form, .category_checkbox {
  display: inline-block;
  margin: 0 3.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
}

.category_checkbox {
  margin-bottom: 2em;
}

.checkbox_group {
  padding: .5em 0em 0;
  margin: 1.5em auto 0;
}
.checkbox_group li + li {
  margin-top: .5em;
}
