.headline {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.backend_wrap, .regular_wrap {
	margin-right: auto;
	margin-left: auto;
}

.regular_wrap {
	margin-top: 5em;
    margin-bottom: 6em;
}

.backend_wrap {
	width: 1000px;
	margin: 1.5em auto 9em; 
	background: transparent;

	.collection_description {
		margin-top: 0;
	}

	.major_section_header {
		margin: 7em auto;
	}

	.major_section_header.form_header {
		margin: 9em auto 7em;
	}

	.control_button {
		white-space: nowrap;
	}
}

.backend_user_controls {
	font-size:.9em;
}
.mainheader {

	text-align: center;

	.winery_title {
		font-size:1.4em;
		border: none;
		border: 3px solid black;
		/*border-bottom: 3px solid red;
		padding-left:0;
		padding-right:0;*/
	}

	.secondary_menu .overlay_label {
		font-size: .75em;
	}

	.divider_container {
		margin: .75em auto .75em;
	}

	.primary_menu {
		margin-bottom: 0em;
		width: 95%;
		margin-top: 2.5em;

		.overlay_label {
		font-size: .95em;
		}	
	}

	.secondary_menu {
		margin-top: .4em;
	}

	.view_label {
		text-transform: uppercase;
		font-size: .8em;
		font-weight: 600;
		font-style: normal;
		margin-top: .5em;
	}
}

.collection_description + .search {
	margin-top: 4em;
}
.mainheader + .backend_section {
	margin-top: 7em;
}

.main_nav_link {
	margin: 0 1.5em;
	color: lightgray;
	white-space: nowrap;
}

.main_nav_link.active {
	color:black;
}

nav {
	.price_separator {
		vertical-align: 2px;
		color: lightgray
	}
}

.backend_section {

	.divider_container {
		margin: 9em auto;
	}

	.individual_section_content {
		padding: 3.5em 1em;
		background: hsl(0,0%,95%);
		border: 1px solid lightgray;

		.major_section_header {
			margin: 0em auto;
		}

		.major_title {
			margin-bottom: 1em;
			font-size: 2em;
		}

		.section_number {
			@extend .headline;
			float:left;
			border: none;
		}

		.cart_controls {
			text-align: center;
			margin-top: 2em;
		}

		.control_button + .control_button {
			margin-right: .5em;
		}
	}
	
	.individual_section_subrow {

	}

	.individual_section_subrow + .individual_section_subrow {
		margin-top: 1em;
		font-size: .75em;

	}

	.major_section_header {
		margin: 0em auto 6em;
	}
	.collection_description {
	}
}

.major_cart_controls {
	text-align: center;
	margin-top: 6em;
	font-size: 1.3em;

	.control_button {
		border: 2px solid black;
	}
}

.individual_section_content + .individual_section_content {
	margin-top: 1.25em;
}

.table_label_container {
	padding-bottom:.3em;
	border-bottom: 2px solid lightgray;
	margin-bottom: 1em;
	font-size: .8em;
}

.table_label {
	@extend .headline;
	float: left;
	margin-top: .3em;
	margin-bottom: .3em;
}

.drag_drop .position_wine_items .table_label {/*text-align:left;*/
	white-space: nowrap;
}

.table_label.name {
	width:240px;
	text-align: left;
}

.table_label.order_number {
	width:100%;
}

.table.combined_name {
	width: 40em;
	float: left;
	text-align: center;
}

.table_label.order_name {
	text-align: left;
	width: 400px;
}

.table_label.year {
	width:100px;
}

.table_label.order_position {
	width:110px;
	text-align: left;
}

.table_label.order_id {
	width:200px;
}

.table_label.price {
	width: 100px;
	text-align: center;
}

.table_label.secondary {
	width: 150px;
	text-align: center;
}

.table_label.edit {
	width: 100px;
	text-align: right;
	float: right;
}

.table_label.category_name {
	width: 600px;
}

.individual_section_content.stock_item {
	padding: 1.7em 2em;
	font-size: .9em;
	margin: 0 -2em;

	.control_button {
		float:right;
		font-size: .75em;
	}
}

.individual_user_permissions {
	text-align: center;
	display: inline-block;

	.table_label {
		width:240px;

		.label {
			margin-bottom: 1em;
		}
	}
}

.individual_section_content.stock_item + .individual_section_content.stock_item {
	margin-top:.75em;
}

.drag_drop {
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.position_number_container {
	@extend .headline;
	display: inline-block;
	width: 1.5em;
	text-align: center;
	margin-right: 3.7em;
	vertical-align: top;

	.position_numbers_list {
		margin: 0;
	}

	li {
		padding: 1.8em 0;
		font-size: .9em;
	}

	li + li {
		margin-top: .5em;
	}
}

.position_wine_items {
	/*width: 35em;
	display: inline-block;*/
}

.custom_additions_group  {
	margin: 2em auto 0;
	padding-top: 2em;
	border-top: 1px solid lightgray;
	.individual_section_content {
		margin: 0;
	}
}

.secondary_divider.backend {

	.divider_container {
		margin: .7em auto;
				width: 30%;
	}
	
	.label_holder {
		font-size: .7em;
	}
}

.secondary_divider.backend.side_by_side {
	display: inline-block;
	width: 15%;

	.divider_container {
		width: 60%;
	}
}

.control_button.cancel {
	font-size:.6em;
	border: none;
	color:red;
}

.column {
	width:50%;
	float: left;
	padding: 0 2em;

	li + li {margin-top:2em;}
	ul {margin: 0;}
}
.column.titles {
	text-align: right;
	@extend .headline;

}

.column.information {
	text-align: left;
	border-left: 2px solid lightgray;
	font-size: 1.1em;
	line-height: 1.1;
}

@import 'form_styles';