/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Core Variables
   ========================================================================== */

$brand_color: red;
$mainbackground_color: hsl(0,0%,98%);
$controls_color: #222;

.brand_color {
  color: $brand_color;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
  line-height: 1.4;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
    font-family: "minion-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    background: $mainbackground_color;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
    width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {text-decoration: none;
color: $controls_color;}
/* ==========================================================================
Helper
   ========================================================================== */

.knockout {color: white;}

.knockout_text_shadow {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.active_link {
  border-bottom: 2px solid $brand_color;
}

.perfect_center {
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  position: absolute;
}

.margin_module > *:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.margin_module > *:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
/* ==========================================================================
Headers
   ========================================================================== */

.headline {
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
}


h1 {
@extend .headline;
line-height: 1;
display: inline-block;
margin-bottom:.5em;
}

h2 {
@extend .headline;
padding: .5em .8em;
border: 2px solid black;
display: inline-block;
text-transform: uppercase;
margin-bottom: 1.2em;
font-size: 1.3em;
color: $brand_color;
}

h3 {font-style: italic;
font-size: 1em;
padding: 1em 0;
font-weight: 400;
}


.cart_indicator div {display:inline-block}

.winery_title, .cart_indicator {
@extend .headline;
text-transform: uppercase;
line-height: 1;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.maincontainer, .content_wrap, .social_media, .winery_about, .slider_menu, .detail_collection, .winery_hero_banner {margin-left: auto; margin-right: auto;}

.maincontainer {max-width: 1300px;}
.content_wrap {width:95%;}

.content {margin-bottom: 5em;}

/* Fixed navigation/notification/cart-indicator bar */

.mainnav_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: $mainbackground_color;
}

.mainnav {
  padding-top: 1.5em;
  padding-bottom: 1.3em;
  /*box-shadow: 1px -6px 11px -10px hsla(0,0%, 70%, .8);
  border-top: 1px solid hsl(0,0%,90%);*/
}

.navigaton_container {
  position: relative;
}

.wordmark {
  width: 6.9em;
  float:left;
  line-height: .9;
}

.cart_item + .cart_item:before {
  content: '+';
  margin: 0 .6em;
  font-size: .9em;
  vertical-align: 2px;
}

.cart_indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -.15em;
}

.cart_number {
  font-size: 1.3em;
  line-height: .85;
}

.cart_item_separator {
  margin: 0 .5em;
  font-size: 1em;
  vertical-align: 1px;
}

.cart_comment {
  font-size: .55em;
  margin-left: .2em;
  color: black;
  white-space: nowrap;
}


/* Notification Section */

.notification_message {
  text-align: right;
  width: 90%;
  float: right;
}

.notification_control {
  @extend .headline;
  float: left;
  padding-bottom: 0;
  width: .7em;
}

.notification {
  padding: 1.4em 0 1.2em 0;
}

.notification + .notification {
  border-top: 1px solid hsl(0,0%,85%);
}

/* Arrow Indicator */

.arrow_indicator_container {
  width:100%;
  overflow: hidden;
}

.arrow_indicator { 
  width: 100%;
  height:8px;
  z-index: 10;
  overflow: hidden;
}

.separator--left, .separator--right {
    height: 100%;
    width: 45%;
    display: block;
    float: left;
    background: hsla(0,0%,5%,1);
}

/* Winery Hero Banner */

.winery_header {
  width: 100%;
  z-index: 1000;
  padding: 1.35em 0 1.15em 0;

}

.winery_title {
  color: $controls_color;
  display: inline-block;
  padding: .2em .5em;
  border: 2px solid $controls_color;
  font-size: .95em;
  white-space: nowrap;
}

.winery_menu {
display: block;
text-align: right;
margin-top: -1.5em;
}

.winery_menu a, .our_wines {
    @extend .headline;
    display: inline-block;
    margin: 0 0 0 2em;
    color:$controls_color;
    float:none;
    font-size: .7em;
}

.our_wines {
  color: white;
}



.hero_slider {
  height: 1000px; /* without a height definition location slide starts collapsed, but with this about and index page experience height jumps — need to look into this*/
position: relative;
}

.tint {
height: 100%;
width: 100%;
position: absolute;
background: hsla(0,0%,0%,.2);
top:0;
}

.dark.tint {
  background: hsla(0,0%,0%,.8)!important;
}


.placeholder_logo {width:12em;
width: 7em;
margin: 0 auto;
margin-bottom: 1.5em;
}

.down_arrow {
  display: block;
  width: 2em;
  margin: 0 auto;
}

.wines_control {
width: 100%;
}

.our_wines {
position:absolute;
bottom:0;
margin:0;
margin-bottom:1em;
text-align: center;
width:100%;
}

/* Winery About */

.winery_about {
  font-size: 1.1em;
  width: 76%;
  padding: 0 3em;
  line-height: 1.6;
  /*border-left: 1px solid black;
  border-right: 1px solid black;*/
}


.separator {
  margin: 0 1em;
}

.social_media {
  display:inline-block;
  text-align: center;
  margin-top: 1em;
  padding-top: .5em;
  border-top: 2px solid white;
}

.social_media_link {
  @extend .headline;
font-size: .7em;
margin: 0 1em;
}

.social_media img {display: inline-block;
width: 1.5em;
margin:0 .8em;
}

.winery_header_content {
position: relative;
}

.search_button {
width: .7em;
float: right;
vertical-align: 1px;
}


/* Location Slide */

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.frame {
    border: 2px solid black;
}



.collections {float:left; display: inline-block;}
.collections a, .view a {padding: 0; color:black;
margin-top: 3em;}
.view {float: right; display: inline;}

.flex_container_divider {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.ie9 .flex_container_divider {
  display: none;
}

.flex_border {

  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  height:10px;
  background: hsl(0,0%,5%);
}

.super_underscore .flex_container_divider {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.super_underscore .flex_border {
  -webkit-box-flex: inherit;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: inherit;
  /* OLD - Firefox 19- */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: inherit;
  /* Chrome */
  -ms-flex: inherit;
  /* IE 10 */
  flex: inherit;
  width: 1.4em;
}
.triangle-left {
width: 0;
height: 0;
border-top : 10px solid hsl(0,0%,5%);
border-right: 10px solid transparent;
}
.triangle-right {
width: 0;
height: 0;
border-top: 10px solid hsl(0,0%,5%);
border-left: 10px solid transparent;
}

.flex_border.first {width:79%;}
.flex_border.second {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}

.products {
    margin-top: 2em;
}
.grid_item {width: 33.3%; float:left;}

.detail_collection {padding: 2em 0; text-align: center;
width: 66%; font-weight: 400;
}

.detail_collection p {font-size: 1.2em;}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
