---
layout: default_backend
title: stock_info
---

<div class='backend_wrap'>

	<header class='mainheader'>
		<div class='main_cart_header clearfix'>
			<div class="major_cart_action">
				<div class='main_cart_total'>Mission Hill Estate</div>
			</div>
			<h2 class='major_title'>Administrator Login</h2>
			<!--<div class="major_cart_action">
				<div class='main_cart_total subheading'>User: Bill</div>
			</div>-->
		</div>

		<div class='major_section_header clearfix'>
		
			<div class='collection_description'>
				<p>Use the fields below to edit your store information. This is used for administrative purposes and for storefront design on home, location, about and contact sections of the customer facing website.</p>
			</div>
		</div>

	</header>
		{% include misc/section_separator.html label='enter your information' %}

	<form class='general_form'>
		<fieldset class="field_two medium">
			<fieldset>
				<label for="username">username</label>
				<input type="text" id="username" value='super_user' class="form-text" />
				</input>
			</fieldset>

 			<fieldset>
				<label for="password">password</label>
				<input type="text" id="password" value='********' class="form-text" />
				</input>
			</fieldset>
		</fieldset>
	</form>
</div>

{% include main_navigation/main-nav-cart.html %}
