---
layout: default_backend
title: stock_info
---

{% include product_preview_info_controls/navigation_controls.html %}

<div class='backend_wrap clearfix'>

	<header class='mainheader edit_section'>

		<div class='main_cart_header clearfix'>
			<div class="major_cart_action">
				<div class='main_cart_total'>Mission Hill Estate</div>
			</div>
			<h2 class='major_title'>Order ZX-125375</h2>
			<div class="major_cart_action">
				<div class='main_cart_total subheading'>Status: Delivered</div>
			</div>
		</div>

		<div class="divider_container primary_menu">
			<div class="label_holder">
				<nav class="overlay_label">
					<a class='main_nav_link'>Customer Info</a><span class='price_separator'>|</span><a class='main_nav_link'>Order Info</a><span class='price_separator'>|</span><a class='main_nav_link active'>Transport Info</a><span class='price_separator'>|</span><a class='main_nav_link'>Shipping info</a>
				</nav>
			</div>
			<div class='divider'>
			</div>
		</div>


			<div class='major_section_header clearfix'>
			
				<div class='collection_description'>
					<p>Use the fields below to edit your store information. This is used for administrative purposes and for storefront design on home, location, about and contact sections of the customer facing website.</p>
				</div>
			</div>

	</header>

	<div class='backend_section'>

		<div class='secondary_divider'>
			{% include misc/section_separator.html label='transport information' %}
		</div>

		<div class='two_column_list clearfix'>
			<div class='column titles'>
				<ul>
					<li>Date Placed</li>
					<li>Date Shipped</li>
					<li>Date Delivered</li>
				</ul>
			</div> 
			<div class='column information'>
				<ul>
					<li>01.04.2014</li>
					<li>15.04.2014</li>
					<li>24.04.2014</li>
				</ul>
			</div> 
		</div>

		
		<div class='secondary_divider'>
			{% include misc/section_separator.html label='process refund' %}
		</div>

		<div class='major_section_header clearfix'>
		
			<div class='collection_description'>
				<p>Use the fields below to edit your store information. This is used for administrative purposes and for storefront design on home, location, about and contact sections of the customer facing website.</p>
			</div>
		</div>

		<div class='major_cart_controls'>
			<div class='control_button'>
				Create Return
			</div>
		</div>

	</div>

</div>

{% include main_navigation/main-nav-backend.html %}
