---
layout: default_backend
title: stock_info
---
<div class='backend_wrap'>

	<header class='mainheader'>
		<div class='main_cart_header clearfix'>
			<div class="major_cart_action">
				<div class='main_cart_total'>Mission Hill Estate</div>
			</div>
			<h2 class='major_title'>Administrator Settings</h2>
			<!--<div class="major_cart_action">
				<div class='main_cart_total subheading'>User: Bill</div>
			</div>-->
		</div>

		<div class="divider_container primary_menu">
			<div class="label_holder">
				<nav class="overlay_label">
					<a class='main_nav_link'>Store Layout</a><span class='price_separator'>|</span><a class='main_nav_link active'>product stock</a><span class='price_separator'>|</span><a class='main_nav_link'>store settings</a><span class='price_separator'>|</span><a class='main_nav_link '>current orders</a>
				</nav>
			</div>
				<div class='divider'>
				</div>
		</div>
		<div class="divider_container secondary_menu">
				<div class="label_holder">
					<nav class="overlay_label">
						<a class='main_nav_link '>wines</a><span class='price_separator'>|</span><a class='main_nav_link active'>collections</a>
					</nav>
				</div>
		</div>

		<div class='major_section_header clearfix'>
		
			<div class='collection_description'>
				<p>You can create wine collections which can be used to focus on and explore your products. The default store organization is by year. Once you create some categories and add wines to them, your customers will be able to focus on them, read detailed descriptions and explore the included products.</p>
			</div>
		</div>
	</header>


	<div class='backend_section'>


			<div class='secondary_divider'>
		{% include misc/section_separator.html label='wine collections' %}
			</div>

		<div class='table_label_container  clearfix'>
			<div class='table_label category_name'>Collection Name</div>
			<div class='table_label secondary'>Wines Included</div>
			<div class='table_label secondary'>Description added</div>
			<div class='table_label secondary edit'>Edit</div>
		</div>

		<div class="individual_section_content stock_item clearfix">
			<div class='table_label category_name'>Our Wines (Default)</div>
			<div class='table_label secondary'>All Wines</div>
			<div class='table_label secondary'>yes</div>
			<div class='control_button'>
				Edit
			</div>
		</div>

		<div class="individual_section_content stock_item clearfix">
			<div class='table_label category_name'>Summer Reds</div>
			<div class='table_label secondary'>5</div>
			<div class='table_label secondary'>yes</div>
			<div class='control_button'>
				Edit
			</div>
		</div>

				<div class="individual_section_content stock_item clearfix">
			<div class='table_label category_name'>Winter Whites</div>
			<div class='table_label secondary'>5</div>
			<div class='table_label secondary'>yes</div>
			<div class='control_button'>
				Edit
			</div>
	</div>


			<div class='major_cart_controls'>

				<div class='control_button'>
					Create New Collection
				</div>
			</div>
	</div>



</div>

	{% include main_navigation/main-nav-backend.html %}
