---
layout: default_backend
title: stock_info
---
<div class='backend_wrap'>

	<header class='mainheader'>
		<div class='main_cart_header clearfix'>
			<div class="major_cart_action">
				<div class='main_cart_total'>Mission Hill Estate</div>
			</div>
			<h2 class='major_title'>Administrator Settings</h2>
			<!--<div class="major_cart_action">
				<div class='main_cart_total subheading'>User: Bill</div>
			</div>-->
		</div>

		<div class="divider_container primary_menu">
			<div class="label_holder">
				<nav class="overlay_label">
					<a class='main_nav_link'>Store Layout</a><span class='price_separator'>|</span><a class='main_nav_link'>product stock</a><span class='price_separator'>|</span><a class='main_nav_link active'>store settings</a><span class='price_separator'>|</span><a class='main_nav_link'>current orders</a>
				</nav>
			</div>
				<div class='divider'>
				</div>
		</div>
		<div class="divider_container secondary_menu">
				<div class="label_holder">
					<nav class="overlay_label">
						<a class='main_nav_link '>general info</a><span class='price_separator'>|</span><a class='main_nav_link active'>Shipping</a><span class='price_separator'>|</span><a class='main_nav_link'>your account</a>
					</nav>
				</div>
		</div>

		<div class='major_section_header clearfix'>
		
			<div class='collection_description'>
				<p>Use the fields below to edit your store information. This is used for administrative purposes and for storefront design on home, location, about and contact sections of the customer facing website.</p>
			</div>
		</div>

	</header>

		<div class='backend_section'>

			<div class='secondary_divider'>
				{% include misc/section_separator.html label='Shipping Responsibility' %}
			</div>


			<div class="shipping_payee">
	
				<fieldset class='radio_form'>
					<input type="radio" id="winery_full" name="radios" checked>
			       	<label for="winery_full">Winery Pays Full</label>
			    </fieldset>
			    <fieldset class='radio_form'>
			    	<input type="radio" id="customer_full" name="radios">
			      	<label for="customer_full">Customer Pays Full</label>
			    </fieldset>
			    <fieldset class='radio_form'>
			    	<input type="radio" id="winery_after" name="radios" >
			       	<label for="winery_after">Winery pays after min order of</br><input type="text" id="min_orde_amount" value='$20' class="form-text" /></label> 
			    </fieldset>
			    <fieldset class='radio_form'>
			    	<input type="radio" id="flat_fee" name="radios">
			       	<label for="flat_fee">Flat Fee of</br><input type="text" id="flat_fee_amount" value='$20' class="form-text" /></label>
				</fieldset>
			</div>

			<div class='major_cart_controls'>
				<div class='control_button'>
					Save Shipping Settings
				</div>
			</div>

		</div>

</div>

{% include main_navigation/main-nav-backend.html %}
