---
layout: default
title: new district
---

{% include main_navigation/main-nav-incart.html %}

<div class='cart_content'>
	<div class='major_section_header clearfix'>
		<h2 class='major_title'>Cart Total</h2>
		<div class='product_meta_info'>7 bottles from 3 stores<span class='price_separator'>|</span>$456 total</div>
		<div class='control_button'>
			<a class="">Checkout All</a>
		</div>
	</div>

	<div>
		<div class='product_summary_section'>
			<div class='product_summary_header content_wrap'>
				{% include misc/section_separator.html label='Mission Hill Family Estate' %}
			</div>
			<div class='product_summary_content'>
				<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides.</p>
			</div>
		</div>

		<div class='collection_description'>
			<p>You have 57 bottles in cart, split between 15 single bottles, 3 cases containing 18 bottles and 2 mix and match sets containing 24 bottles.</p>
		</div>


	</div>
</div>