---
layout: default
title: new district
---

{% include main_navigation/main-nav-incart.html %}
<div class='cart_wrap content_wrap'>
	{% include cart_preview/cart_header.html %}
	<div class='cart_content'>
		{% include misc/section_separator.html label='current store' %}
		<div class='cart_content_section'>
			{% include cart_preview/individual_winery_format.html %}
		</div>
		{% include misc/section_separator.html label='Other Stores' %}
		<div class='cart_content_section'>
			<div class='cart_winery_group'>
				<div class="winery_name_container">
					<div class='winery_title'>
						Red rooster wines
					</div>
				</div>
				<div class='main_cart_summary'>
					<p>Sections for comments or terms specific to the individual winery.</p>
				</div>
				<div class='winery_product_group'>
					{% include cart_preview/single_cart_item.html %}
				</div>
				<div class='winery_cart_total clearfix'>
					<h2 class='major_title'>Total</h2>
					<div class="major_cart_action">
						<div class='main_cart_total'>
							57 bottles<span class='price_separator'>|</span>$456
						</div>
						<div class='control_button'>
							<a class="">Checkout items from This store only</a>
						</div>
					</div>
				</div>
			</div>
			{% include misc/section_separator.html label='+' %}
			<div class='cart_winery_group'>
				<div class="winery_name_container">
					<div class='winery_title'>
						Black hills Estate
					</div>
				</div>
				<div class='main_cart_summary'>
					<p>Sections for comments or terms specific to the individual winery.</p>
				</div>
				<div class='winery_product_group'>
					{% include cart_preview/single_cart_item.html %}
				</div>
				<div class='winery_cart_total clearfix'>
					<h2 class='major_title'>Total</h2>
					<div class="major_cart_action">
						<div class='main_cart_total'>
							57 bottles<span class='price_separator'>|</span>$456
						</div>
						<div class='control_button'>
							<a class="">Checkout items from This store only</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>