---
layout: default
title: new district
---

{% include main_navigation/main-nav-cart.html %}
{% include product_preview_info_controls/navigation_controls.html %}

<div class='backend_wrap content_wrap'>
	<div class='main_cart_header clearfix'>
		<div class="major_cart_action">
			<div class='main_cart_total'>Mission Hill Winery</div>
		</div>
		<h2 class='major_title'>Contact Us</h2>
		<!--<div class="major_cart_action">
			<div class='main_cart_total'>optional subheading</div>
		</div>-->
	</div>

	<div class='product_summary_section'>
			<div class='product_summary_header content_wrap'>
				{% include misc/section_separator.html label='place to enter content' %}
			</div>
			<div class='product_summary_content'>
				<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides.</p>
			</div>
		</div>
</div>