---
layout: default
title: new district
---

<div class="content">

		{% include slider_navigation.html %}

	<div class='winery_hero_banner content_wrap'>
		{% include hero_photo_slide.html %}
	</div>

		{% include wine_selection_controls.html %}
		{% include wine_selection_info.html %}

	<div class="maincontainer products clearfix">
		<div class='grid_item'>
		<img src='img/grid.png'>
					<h3 class="grid_title">Pinot Noir</h3>
			<div class='grid_price'>45$</div>
			<div class='wines_control'>Add to Cart</div>
		</div>
			<div class='grid_item'>
		<img src='img/grid2.png'>
		</div>
	</div>
</div>

{% include main-nav-cart.html %}