---
layout: default
title: new district
---

<div class="content">
	{% include slider_navigation.html %}
	<div class='winery_hero_banner content_wrap'>
		{% include hero_photo_slide.html %}
	</div>
	{% include wine_selection_controls.html %}
	{% include wine_selection_info.html %}
	<div class="maincontainer products content_wrap clearfix">
		<section class='banner active' style="background:url('img/banner1v1.jpg') center center; background-size:cover;">
			<div class='banner_tint'>
				<div class='banner_right'>
					<div class='banner_content_width knockout'>
						<div class='banner_title_container'>
							<div class='banner_title'>
								<div class='wine_name'>Cabernet</br>Sauvignon</div>
								<div class='wine_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
							</div>
						</div>
						<div class='banner_writeup'>
							<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides <span class='link_through'>...</span></p>
						</div>
					</div>
					<div class='banner_action_container'>
						<span class='action'>Add to Cart</span> <span class='action'>More Info</span>
					</div>
				</div>
			</div>
		</section>
		<section class='banner active' style="background:url('img/banner3v1.jpg') center center; background-size:cover;">
			<div class='banner_tint dark'>
				<div class='banner_center'>
					<div class='banner_content_width knockout'>
						<div class='banner_title_container'>
							<div class='banner_title'>
								<div class='wine_name'>Château</br>des Charmes</div>
								<div class='wine_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
							</div>
						</div>
						<div class='banner_writeup'>
							<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides ...</p>
						</div>
					</div>
					<div class='banner_action_container'>
						<span class='action'>Add to Cart</span> <span class='action'>More Info</span>
					</div>
				</div>
			</div>
		</section>
		<section class='banner active' style="background:url('img/banner2v1.jpg') center center; background-size:cover;">
			<div class='banner_tint '>
				<div class='banner_left'>
					<div class='banner_content_width knockout'>
						<div class='banner_title_container'>
							<div class='banner_title'>
								<div class='wine_name'>Pinot Noir</div>
								<div class='wine_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
							</div>
						</div>
						<div class='banner_writeup'>
							<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides ...</p>
						</div>
					</div>
					<div class='banner_action_container'>
						<span class='action'>Add to Cart</span> <span class='action'>More Info</span>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% include main-nav-cart.html %}