---
layout: default
title: new district
---
<div class='modal_context_background'>
	{% include demo_preview_helpers/modal_background_content.html %}
</div>
<div class='modal_window_super_container'>
	<div class="modal_window_container clearfix">
		<div class='modal_window_content'>
			{% include modal_addtocart/modal_title_image_specifics.html %}
			{% include modal_addtocart/modal_quantity_section.html %}
			{% include modal_addtocart/modal_summary_section.html %}
			{% include modal_addtocart/modal_action_section.html %}
		</div>
		{% include modal_addtocart/modal_cancel.html %}
	</div>
</div>