---
layout: default
title: new district
---
<div class='modal_context_background'>
{% include demo_preview_helpers/modal_background_content.html %}
</div>

<div class='modal_window_super_container'>
	<div class="modal_window_container clearfix">
		<div class='modal_window_content'>
						{% include modal_addtocart/modal_title_image_specifics.html %}
			{% include modal_addtocart/modal_quantity_section.html %}
			{% include misc/section_separator.html label='Summary' %}

			<section class='modal_action_section clearfix'>
				<div class='individual_action'>
						<div class='modal_total'>
		<div class='number'>$45 total</div> <!-- total price for the quantity selected--> 
	</div>
					<div class='action_label'>
							You are adding 2 bottles of <span class='highlight'>Cabernet Sauvignon 2012</span> to a 6-bottle 'mix and match' set. The set now has 3 bottles and includes:

							<div class='modal_mix_match_list'>
								<span class='highlight'>2 bottles of Cabernet Sauvignon 2012</span>
								<div class='secondary_divider'>
									{% include misc/section_separator.html label='+' %}
								</div>
								<span class=''>1 bottle of Pinot Noir 2012</span>
							</div>
							 In order to complete the set you will need to add 3 more bottles of this or any other available wine.
					</div>
				</div>
			</section>

			{% include misc/section_separator.html label='Complete Form' %}

			<section class='modal_action_buttons'>
				<span class='control_button'>Continue Shopping</span>
			</section>

		</div>
	</div>
</div>