---
layout: default
title: new district
---
<div class='modal_context_background'>
{% include demo_preview_helpers/modal_background_content.html %}
</div>

<div class='modal_window_super_container'>
	<div class="modal_window_container clearfix">
		<div class='modal_window_content'>
			{% include modal_addtocart/modal_title_image_specifics.html %}
			{% include misc/section_separator.html label='select quantity' %}

			<section class='modal_action_section clearfix'>
				
				<div class='individual_action'>
					<div class="quantity_entry">
						<span class='subtract'>-</span><!-- control to subtract quantity -->
						<span class='quantity'>5</span><!-- an indicator of quantity, should also be a free number field, meaining that a user could click on it and type the number in, if more then one quantity label is present user needs to be able to use the tab key to cycle through them-->
						<span class='add'>+</span><!-- control to add quantity -->
					</div>
					<div class='action_label quantity_caption'><!-- if single bottle orders then would say 'bottle' or 'bottles' if case based then the following-->
						6-bottle cases = 30 bottles
					</div>
				</div>

				<div class='secondary_divider'>
					{% include misc/section_separator.html label='+' %}
				</div>

					<div class='individual_action'>
						<div class="quantity_entry">
							<span class='subtract'>-</span><!-- control to subtract quantity -->
							<span class='quantity'>3</span><!-- an indicator of quantity, should also be a free number field, meaining that a user could click on it and type the number in, if more then one quantity label is present user needs to be able to use the tab key to cycle through them-->
							<span class='add'>+</span><!-- control to add quantity -->
						</div>
						<div class='action_label quantity_caption'><!-- if single bottle orders then would say 'bottle' or 'bottles' if case based then the following-->
							12-bottle cases = 36 bottles
						</div>
					</div>

			</section>

			{% include misc/section_separator.html label='Summary' %}

			<section class='modal_action_section clearfix'>
				<div class='individual_action'>
						<div class='modal_total'>
		<div class='number'>$45 total</div> <!-- total price for the quantity selected--> 
	</div>
					<div class='action_label'>
							You are adding 5 cases (2 of 12-bottle and 3 of 6-bottle cases) of <span class='highlight'>Cabernet Sauvignon 2012</span>. This equates to 54 bottles being added to your cart.
					</div>
				</div>
			</section>

			{% include misc/section_separator.html label='Complete Form' %}

			<section class='modal_action_buttons'>
				<span class='control_button'>Checkout Now</span>
				<div class='secondary_divider'>
					{% include misc/section_separator.html label='or' %}
				</div>
				<span class='control_button'>Continue Shopping</span>
			</section>

		</div>
	</div>
</div>