---
layout: default
title: new district
---

<div class="content">

	<div class='winery_hero_banner'>
		{% include winery_hero_title_navigation.html %}
		<div class='hero_slider' style="background:url('img/hero.jpg') center center; background-size:cover;">
			<div class="tint">
				<div class='main_slide_content knockout knockout_text_shadow'>
					<div class="placeholder_logo"><img src='img/placeholder_logo.svg'></div>
				</div>
				<div class="our_wines knockout_text_shadow">BROWSE OUR PRODUCTS<span class="down_arrow"><img src='img/arrow_down.svg'></span></div>
			</div>
		</div>
	</div>

	<div class="wines_control clearfix">
		<div class='content_wrap'>
			<div class='collections'>
				<a class="collections">COLLECTIONS &#x2228;</a>
			</div>
			
					<div class='view'>
				<a class="collections">VIEW: GRID | BANNER</a>
			</div>
		</div>
	</div>

	<div class='detail_collection clearfix'>
		<h2>Collection: Summer Reds</h2>
			<p> Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides.</p>
	</div>
	<div class="maincontainer products clearfix">
		<div class='grid_item'>
		<img src='img/grid.jpg'>
		</div>
			<div class='grid_item'>
		<img src='img/grid2.jpg'>
		</div>
	</div>
</div>

{% include main-nav-cart.html %}