<div class='mainnav_container'>
	<nav class='mainnav content_wrap'>
		<div class='maincontainer'>
			<div class='navigaton_container clearfix'>
				<div class='wordmark'> 
					<a href='/'>
						<img src='img/logo.svg' title='newdistrict wordmark'> 
					</a>
				</div>
				<div class='cart_indicator'>
					<div class='cart_item'>
						<div class='cart_number'>24</div><!-- number of items in cart from the current store, combines all items from the other stores, excludes mix and match sets-->
						<div class='cart_comment'>bottles from 5</br>stores overall</div><!-- comment for items in cart from the other stores, needs basic text adjustment, ex. '1 bottle' vs '2 bottles' -->
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>