<nav class='mainnav knockout'><!-- knockout class could be attached to a back-end control which lets users switch the color of the navigation bar content, ex. knockout implies white text aka knocked out against a color background -->
	<div class='maincontainer'><!-- limits the content to a maximum width -->
		<div class='content_wrap'><!-- limits the content to a width within the maincontainer -->
			<div class='wordmark'> 
				<a href='/'>
					<img src='img/logo_square_knockout.svg' title='newdistrict wordmark'> 
				</a>
			</div>
			<div class='winery_title'>Peller Estates</div><!-- needs a max character limit rule kick in at small screens, example at or under 480px width limit to 30 characters max-->
			<div class='cart_total'>
				<span class='cart_label'>CART:</span>
				<span class='current_store_cart'>3</span><!-- number of items in cart from the current store-->
				<span class='other_cart_totals'>+ 2</span><!-- number of items in cart from other stores -->
			</div>
		</div>
	</div>
</nav>