<div class='maincontainer clearfix'>
	<div class='content_wrap notification_container'>	
		<div class='notification clearfix'>
			<div class="notification_message">
				One bottle of 2007 Cabernet Sauvignon added to the Red Rooster 6-bottle Mix and Match set. Add 3 more bottles to complete the set.
			</div>
			<div class='notification_control '>
				<img src='img/close_thin.svg'>
			</div> 
		</div>
		<div class='notification clearfix'>
			<div class="notification_message">
				A bottle of Zinfandel 2012 in your Estate Farms Cart is running low on stock. Complete the purchase now.
			</div>
			<div class='notification_control '>
				<img src='img/close_thin.svg'>
			</div> 
		</div>
	</div>
</div>