<div class='mainnav_container'>
	<nav class='mainnav'>
		<div class='maincontainer'>
			<div class='content_wrap navigaton_container clearfix'>
				<div class='wordmark'> 
					<a href='/'>
						<img src='img/logo.svg' title='newdistrict wordmark'> 
					</a>
				</div>
				<div class='cart_indicator'>
					<div class='cart_item'>
						<div class='cart_number brand_color'>6</div><!-- number of items in cart from the current store, this includes singles, cases and completed mix and match sets-->
						<div class='cart_comment'>bottles</br>in cart</div><!-- comment for items in cart in the current store, needs basic text adjustment, ex. '1 bottle in cart' vs '2 bottles in cart' -->
					</div>
					<div class='cart_item'>
						<div class='cart_number brand_color'>3</div><!-- number of items in cart from the current store that are part of a mix and match set, this combines the number in a scenario of multiple mix and match sets-->
						<div class='cart_comment'>bottles out of <span class='mixnmatch_total'>12</span> in </br><span='mixnmatch_sets'>2</span> mix & match sets</div><!-- comment for the above, needs basis bottle vs bottles adjustment and the number of mix and match bottles required. In case of multiple sets the total number combines -->
					</div>
					<div class='cart_item'>
						<div class='cart_number'>4</div><!-- number of items in cart from the current store, combines all items from the other stores, excludes mix and match sets-->
						<div class='cart_comment'>items from</br>other stores</div><!-- comment for items in cart from the other stores, needs basic text adjustment, ex. '1 bottle' vs '2 bottles' -->
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>