<header class='winery_header'>
	<div class='header_content content_wrap'>
		<div class="winery_header_content clearfix">
			<div class='winery_title'><a href='/'>Mission Hill Family Estate</a></div>
			<div class='winery_menu'>
				<a href='/newdistrict/about_slide_demo.html' class='active_link'>ABOUT</a><a href='/newdistrict/location_slide_demo.html' class=''>LOCATION</a><a href='/newdistrict/contact_slide_demo.html' class=''>CONTACT</a>
			</div>
		</div>
	</div>
	<!--<div class='arrow_indicator'>
		<div class="flex_container">
			<div class="divider_container ">
				<div class="">
						<div class="flex_container_divider">
							<div class="flex_border first"></div>
							<div class="triangle-left"></div>
							<div class="triangle-right"></div>						
							<div class="flex_border second"></div>
						</div>
				</div>
			</div>
		</div>
	</div>-->
</header>