<header class='winery_header'>
	<div class='header_content'>
		<div class='content_wrap'>
			<div class="winery_header_content knockout_text_shadow clearfix">
				<div class='winery_title  '>Mission Hill Family Estate</div><!-- needs a max character limit rule kick in at small screens, example at or under 480px width limit to 30 characters max-->
				<div class='winery_menu'>
					<a class='active_link'>WINERY</a>
					<a class=''>LOCATION</a>
					<a class=''>ABOUT</a>
					<!--<a class='search_button'><img src='img/search2.svg'></a>-->
				</div>

				<!--<div class='search_button'><img src='img/search3.svg'></div> future funtionality-->
			</div>
		</div>
	</div>
	<!--<div class='arrow_indicator'>
		<div class="flex_container">
			<div class="divider_container ">
				<div class="">
						<div class="flex_container_divider">
							<div class="flex_border first"></div>
							<div class="triangle-left"></div>
							<div class="triangle-right"></div>						
							<div class="flex_border second"></div>
						</div>
				</div>
			</div>
		</div>
	</div>-->
</header>