<div class='winery_product clearfix'>

	<div class='grid_img_container'>
		<img src='img/bottle_background3v3.jpg'><!--we should generate two photos from the ones they upload and use picturefull.js to replace them for high or low resolution screens-->
	</div>

	<div class='product_summary_content'>
		<div class='grid_title'>
			<div class='major_title'>Pinot Noir</div>
			<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45 per case<span class='price_separator'>|</span>750ml</div>
		</div>
	</div>

	<div class="cart_item_info">
		<section class='modal_action_section  clearfix'>
			<div class='individual_action'>

				<div class="quantity_entry">
					<span class='subtract'>-</span><!-- control to subtract quantity -->
					<span class='quantity'>3</span><!-- an indicator of quantity, should also be a free number field, meaining that a user could click on it and type the number in, if more then one quantity label is present user needs to be able to use the tab key to cycle through them-->
					<span class='add'>+</span><!-- control to add quantity -->
				</div>
			</div>
		</section>

		<div class='main_cart_total'>3 cases (18 bottles)<span class='price_separator'>|</span>$456</div>

		<div class='controls'>
			<div class='control_button'>
				<a class="">update totals</a>
			</div>
			<div class='control_button'>
				<a class="">delete item</a>
			</div>
		</div>
	</div>
</div>


	{% include misc/section_separator.html label='+' %}

<div class='winery_product clearfix'>
	
	<div class='grid_img_container'>
		<img src='img/bottle_background1v3.jpg'><!--we should generate two photos from the ones they upload and use picturefull.js to replace them for high or low resolution screens-->
	</div>
			
	<div class='product_summary_content'>
		<div class='grid_title'>
			<div class='major_title'>Château</br>des Charmes</div>
			<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45 per case<span class='price_separator'>|</span>750ml</div>
		</div>
	</div>

	<div class="cart_item_info">
		<section class='modal_action_section  clearfix'>
			<div class='individual_action'>

				<div class="quantity_entry">
					<span class='subtract'>-</span><!-- control to subtract quantity -->
					<span class='quantity'>3</span><!-- an indicator of quantity, should also be a free number field, meaining that a user could click on it and type the number in, if more then one quantity label is present user needs to be able to use the tab key to cycle through them-->
					<span class='add'>+</span><!-- control to add quantity -->
				</div>
			</div>
		</section>

		<div class='main_cart_total'>3 cases (18 bottles)<span class='price_separator'>|</span>$456</div>

		<div class='controls'>
			<div class='control_button'>
				<a class="">update totals</a>
			</div>
			<div class='control_button'>
				<a class="">delete item</a>
			</div>
		</div>
	</div>
</div>