<section class='grid_framed'>
	<a href='product_preview.html'>
		<img src='img/bottle_background2v3.jpg'>
		<div class="wine_info_container">
			<div class='wine_info'>
				<div class='grid_title'>
					<div class='major_title'>Cabernet</br>Sauvignon</div>
					<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
				</div>
				{% include product_preview/product_view_grid_action_buttons.html %}
			</div>
		</div>
	</a>
</section>

<section class='grid_framed active'>
	<a href='product_preview.html'>
		<img src='img/bottle_background1v3.jpg'>
		<div class="wine_info_container">
			<div class='wine_info'>
				<div class='grid_title'>
					<div class='major_title'>Pinot Noir</div>
					<div class='product_meta_info'>2012<span class='price_separator'>|</span>$19<span class='price_separator'>|</span>750ml</div>
				</div>
				{% include product_preview/product_view_grid_action_buttons.html %}
			</div>
		</div>
	</a>
	<div class='link_back'>
		<span class="arrow"><img src='img/arrow_down.svg'></span>
	</div>
</section>

<section class='grid_framed'>
	<a href='product_preview.html'>
		<img src='img/bottle_background3v3.jpg'>
		<div class="wine_info_container">
			<div class='wine_info'>
				<div class='grid_title'>
					<div class='major_title'>Château</br>des Charmes</div>
					<div class='product_meta_info'>2012<span class='price_separator'>|</span>$32<span class='price_separator'>|</span>200ml</div>
				</div>
				{% include product_preview/product_view_grid_action_buttons.html %}
			</div>
		</div>
	</a>
</section>

