<div class="controls_container clearfix">
	<div class='content_wrap'>
		<div class='control_button collection'>
			<a class=""><span class='arrow_symbol'>❮</span>Return to Our Wines</a><!-- Returns user to the store section. The text should reflect the state of the page, ex. 'Our Wines', 'Summer Collection', etc. -->
		</div>
		<div class="controls_container_title">
			<span class='winery_name'>Mission Hill Winery</span>
		</div>
		<div class='control_button view'>
			<a class="">Add this wine to Cart</a>
		</div>
	</div>
</div>