<div class='winery_product clearfix'>
	<div class='grid_img_container'>
		<img src='img/bottle_background2v3.jpg'>
	</div>
	<div class='product_summary_content'>
		<div class='grid_title'>
			<div class='major_title'>Cabernet</br>Sauvignon</div>
			<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
		</div>
	</div>	
	<div class="cart_item_info">
		<section class='modal_action_section  clearfix'>
			<div class='individual_action'>
				<div class="quantity_entry">
					<span class='subtract'>-</span><!-- control to subtract quantity -->
					<span class='quantity'>3</span><!-- an indicator of quantity, should also be a free number field, meaining that a user could click on it and type the number in, if more then one quantity label is present user needs to be able to use the tab key to cycle through them-->
					<span class='add'>+</span><!-- control to add quantity -->
				</div>
			</div>
		</section>
		<div class='main_cart_total'>7 bottles<span class='price_separator'>|</span>$456</div>
		<div class='controls'>
			<div class='control_button'>
				<a class="">update totals</a>
			</div>
			<div class='control_button'>
				<a class="">delete item</a>
			</div>
		</div>
	</div>
</div>