<div class='grid_framed'>
		<img src='img/bottle_background2v3.jpg'>
		<div class="wine_info_container">
			<div class='wine_info'>
				<div class='grid_title'>
					<div class='wine_name'>Cabernet</br>Sauvignon</div>
					<div class='wine_year'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
				</div>
				<div class='grid_action_container'>
					<div class=''><span class='grid_addtocart'>Add to Cart</span></div>
				</div>
			</div>
		</div>
</div>

<div class='grid_framed'>
		<a href='product_grid_focusedon_banner.html'>
			<img src='img/bottle_background1v3.jpg'>
			<div class="wine_info_container">
				<div class='wine_info'>
					<div class='grid_title'>
						<div class='wine_name'>Pinot Noir</div>
						<div class='wine_year'>2012<span class='price_separator'>|</span>$19<span class='price_separator'>|</span>750ml</div>
					</div>
					<div class='grid_action_container'>
						<div class=''><span class='grid_addtocart'>Add to Cart</span></div>
					</div>
				</div>
			</div>
		</a>
</div>

<div class='grid_framed'>
		<img src='img/bottle_background3v3.jpg'>
		<div class="wine_info_container">
			<div class='wine_info'>
				<div class='grid_title'>
				<div class='wine_name'>Château</br>des Charmes</div>
				<div class='wine_year'>2012<span class='price_separator'>|</span>$32<span class='price_separator'>|</span>200ml</div>
				</div>
				<div class='grid_action_container'>
					<div class=''><span class='grid_addtocart'>Add to Cart</span></div>
				</div>
			</div>
		</div>
</div>
