<div class='grid_framed'>
			<img src='img/bottle_background1v3.jpg'>
			<div class="wine_info_container">
				<div class='wine_info'>
					<div class='grid_title'>
						<div class='wine_name'>Pinot Noir</div>
						<div class='wine_year'>2012</div>
						<div class='wine_volume'>750ml</div>
					</div>
					<!--<div class='grid_price'>$45</div>-->
					<div class='grid_action_container'>
						<div class=''><span class='grid_addtocart'>$45<span class='price_separator'>|</span>Add to Cart</span></div>
					</div>
				</div>
			</div>
		</div>

		<div class='grid_framed'>
			<img src='img/bottle_background3v2.jpg'>
			<div class="wine_info_container">
				<div class='wine_info'>
					<div class='grid_title'>
						<div class='wine_name'>Château</br>des Charmes</div>
						<div class='wine_year'>2012</div>
						<div class='wine_volume'>750ml</div>
					</div>
					<!--<div class='grid_price'>$45</div>-->
					<div class='grid_action_container'>
						<div class=''><span class='grid_addtocart'>$45<span class='price_separator'>|</span>Add to Cart</span></div>
					</div>
				</div>
			</div>
		</div>

