<div class='hero_slider' style="background:url('img/hero2.jpg') center center; background-size:cover;">
	<div class="tint ">
		<div class='perfect_center knockout knockout_text_shadow'>
			<div class='content_wrap'>
				<!--<div class="placeholder_logo"><img src='img/placeholder_logo_knockout.svg'></div>
				<h1>About Us</h1>-->
				<div class="winery_about">
					Red Roosters is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location.
				</div>
			</div>
		</div>-->
	</div>
</div>