<div class='hero_slider' style="background:url('img/hero3.jpg') center center; background-size:cover;">
	<div class="tint">
		<div class='perfect_center knockout knockout_text_shadow '>
			<div class='content_wrap'>
				<div class="winery_about">
					<span class="website">missionhill.com</span>
				</div>
				<div class="social_media">
					<span class="social_media_link">email</span>
					<span class="social_media_link">twitter</span>
					<span class="social_media_link">facebook</span>
					<span class="social_media_link">pinterest</span>
				</div>
			</div>
		</div>
	</div>
</div>