<section class='grid_framed clearfix'>
	<img src='img/bottle_background2v3.jpg'><!--we should generate two photos from the ones they upload and use picturefull.js to replace them for high or low resolution screens-->
	<div class="wine_info_container">
		<div class='wine_info'>
			<div class='grid_title'>
				<div class='wine_name'>Cabernet</br>Sauvignon</div>
				<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
			</div>
			{% include product_previews/product_view_grid_action_buttons.html %}
		</div>
	</div>
</section>