<div class='detail_collection clearfix'>
		<h2 class='wine_name'>Château</br>des Charmes</h2>
		<div class='product_meta_info'>2012<span class='price_separator'>|</span>$32<span class='price_separator'>|</span>200ml</div>
	<div class='collection_description'>
		<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides.</p>
	</div>
</div>