<section class='banner active' style="background:url('img/banner1v1.jpg') center center; background-size:cover;">
	<div class='banner_tint'>
		<div class='banner_right'><!--this class affects the art direction of the banner view-->
			<div class='banner_content_width knockout'>
				<div class='banner_title_container'>
					<div class='banner_title'> <!-- should link to the full wine page-->
						<div class='major_title'>Cabernet</br>Sauvignon</div>
						<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
					</div>
				</div>
				<div class='banner_writeup'><!-- this should link to the full wine page as well-->
					<p>Black Grape Winery is world class facility that will give our guests an exceptional sit down tasting experience immersed in the middle of the Black Hills terroir. The spectacular 3000 sq foot tasting area and wine shop is located on the Black Sage Road, just a few hundred yards further south from its original location. The new site has great views of the valley and is surrounded by vineyards on all sides. <span class='link_through'>Read More</span></p>
				</div>
			</div>
			<div class='banner_action_container'>
				<span class='action'>Add to Cart</span> <span class='action'>More Info</span><!-- links to the full wine page-->
			</div>
		</div>
	</div>
</section>