{% include misc/section_separator.html label='Finish Order' %}
<section class='modal_action_buttons'>
	<span class='control_button'>Add 1 and continue to Explore Our Wines</span> <!--this button is always present-->

	<div class='secondary_divider'>
		{% include misc/section_separator.html label='or' %}
	</div>

	<span class='control_button'>Add 6 now and Continue to Checkout</span> <!-- 'checkout now' button an the divider below appear contextually, for example if the store only has mix and match ordering system and the user has not added enough bottles to cart they would not appear-->
</section>