<section class='grid_framed clearfix'>
	<div class='grid_img_container'>
		<img src='img/bottle_background2v3.jpg'><!--we should generate two photos from the ones they upload and use picturefull.js to replace them for high or low resolution screens-->
	</div>
	<div class="wine_info_container">
		<div class='wine_info'>
			<div class='grid_title'>
				<div class='major_title'>Cabernet</br>Sauvignon</div>
				<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
			</div>
			<div class="modal_comment_fixed_container knockout ">
				<div class='modal_comment'>This wine is available for purchase in single or multiple bottles. It can also be used in mix and match sets.
				</div> <!-- this comment needs to change based on the wine being added, to provide context about its ordering options and any other relevant information -->
			</div>
		</div>
	</div>
</section>
