{% include misc/section_separator.html label='Summary' %}
<section class='modal_action_section clearfix'>
	<div class='individual_action'>
	<div class='modal_total'>
		<div class='number'>$45 total</div> <!-- total price for the quantity selected--> 
	</div>
		<div class='action_label'> <!-- action label will host a variety of comments depending on what the action of adding the quantity to cart will accomplish--> 
			You are adding 5 bottles of <span class='highlight'>Cabernet Sauvignon 2012</span> to your cart.
		</div>
	</div>
</section>