<section class='clearfix'>
	<div class='wine_info'>
		<div class='grid_title'>
			<div class='major_title'>Cabernet</br>Sauvignon</div>
			<div class='product_meta_info'>2012<span class='price_separator'>|</span>$45<span class='price_separator'>|</span>750ml</div>
		</div>
	</div>
	<div class='grid_img_container'>
		<img src='img/bottle_background2v3.jpg'><!--we should generate two photos from the ones they upload and use picturefull.js to replace them for high or low resolution screens-->
	</div>
	<div class='modal_comment order_specifics'>This wine is available for purchase in single or multiple bottle quantities.
	</div><!-- this comment needs to change based on the wine being added, to provide context about its ordering options and any other relevant information -->
</section>
