{% include misc/section_separator.html label='Continue To' %}

<section class='modal_action_buttons'>
	<span class='control_button'>Checkout</span> <!-- 'checkout now' button an the divider below appear contextually, for example if the store only has mix and match ordering system and the user has not added enough bottles to cart they would not appear-->
	<div class='secondary_divider'>
		{% include misc/section_separator.html label='or' %}
	</div>
	<span class='control_button'>Explore Our Wines</span> <!--this button is always present-->
</section>