{% include misc/section_separator.html label='Summary' %}

<section class='modal_action_section clearfix'>
	<div class='individual_action'>
		<div class='action_label'>
			<div class='modal_mix_and_match_summary'><!-- a summary for 'mix and match' if it was chosen in the 'select destination'--> 
				You are adding 2 out of 4 selected bottles of <span class='highlight'>Cabernet Sauvignon 2012</span> to a 6-bottle 'mix and match' set. The set is now complete and includes:

				<div class='modal_mix_match_list'>
					<span class='highlight'>2 of 4 bottles of Cabernet Sauvignon 2012</span>
					<div class='secondary_divider'>
						{% include misc/section_separator.html label='+' %}
					</div>
					<span class=''>1 bottle of Pinot Noir 2012</span>
					<div class='secondary_divider'>
						{% include misc/section_separator.html label='+' %}
					</div>
					<span class=''>3 bottles of Château des Charmes 2012</span>
				</div>
			</div>
			<div class='modal_summary'><!-- a summary for overall add to cart process --> 
				The bottles above will be moved to cart. The other 2 bottles of <span class='highlight'>Cabernet Sauvignon 2012</span> will be used to start a new 'mix and match' set.
			</div>
		</div>
	</div>
</section>